body{
    width: 1550px;
    height: auto;
    margin: 0;
}

.banner-sec{
    background-image: url(./project-2-Assignment/images/banner/banner3.png);
    height: 800px;

}
.heading{
    font-weight: 900;
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
}
.img{
    height: 600px;
    width:800px;
}
.main-div{
    text-align: right;
    width: 600px;
    height: 600px;
    margin-left:830px ;
    padding-top: 140px;
    color: white;
}
.btn1{
    height: 60px;
    width: 120px;
    background-color:white;
    border: none;
    color: rgb(48, 168, 208);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/*------end banner section----*/

/*---start 2nd section---*/
.second-sec{
    display: flex;
    margin-top: 40px;
    margin-left: 80px;
}
.second-div{

    margin-left: 80px;
    padding-top:170px ;
}
ul li{
    list-style-type: none;
}
.clr{
    color:aquamarine;
    margin-right: 10px;
}
.heading2{
    font-size: 50px;
}

/*-----start third section-----*/

.container{

    padding-left: 80px;

}
.plan-div{
    display: flex;
    justify-content: space-around;
}
.plan-head{
    padding-left: 620px;
    padding-bottom: 40px;
    font-size: 40px;
}
.b-head{
    font-size:40px;
    color: black;
}
.b-para{
    font-size:30px ;
    color: gray;
}/*-------start fourth section------*/
.fourth-sec{
    margin-top: 80px ;
    height: 250px;
    width: 850px;
    margin-left: 140px;
    background-image: url(./project-2-Assignment/images/watch.png);
}
.bg-img{
    background-image: url(./project-2-Assignment/images/gradient1.png);
    height: 250px;
}
.btn2{
    height: 60px;
    width: 140px;
    background-color:white;
    border: none;
    color: rgb(48, 168, 208);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}
.heading3{
    padding-left: 40px;
    font-size: 40px;
    color: white;
}
/*---start footer section------*/

.footer-div{
    display: flex;
}
.heading4{
    color:white;
    font-size: 30px;
    
}
.footer-para{
    color: white;
    font-size: 15px;
    text-align: left;
    margin-bottom: 0px;
    
}
.img-div{
    margin-top: 0px;
}
.last-div{
    margin-left: 150px;
    
}

.btn3{
    height: 60px;
    width: 140px;
    color:white;
    border: none;
    background-color: rgb(48, 168, 208);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    margin-top: 10px;
}
.end-div{
    margin-left: 300px;
}
.footer-sec{
    
    background-color: black;
    margin-top: 60px;
}
.input{
    width: 60%;
    height: 20px;
    border:2px solid white;
    background-color: black;
    padding-bottom: 30px;

}
.end-head{
    color: white;
    font-size: 30px;
}